/* Reset default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  height: 100vh;

  h1 {
    font-size: xxx-large;
  }

  .pre {
    white-space: pre-line;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 10vh;

  .logo {
    display: flex;
    align-items: center;
    padding: 4rem;

    img {
      max-width: 100px;
    }

    .logo-text {
      margin-top: 3px;
      margin-left: 1rem;

      .title {
        color: #2e338a;
        font-weight: bold;
      }

      .logo-desc {
        padding: 0;
        margin: 0;
        color: #c2e3f4;
      }
    }
  }

  .navigation {
    padding: 5rem;

    ul {
      display: flex;
    }

    li {
      margin-right: 20px;
      padding: 10px;
    }

    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: #007bff;
      }
    }
  }

}

.slide {
  background: #2e338a;
  text-align: center;
  height: 90vh;
  width: 100%;
  overflow: hidden;

  .slider {
    height: 100%;
    background: red;
    display: flex;
    transition: transform 0.5s ease-out;

    &>div {
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      position: relative;

      .slider-content {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 5px 10px;
        backdrop-filter: blur(2px);
        text-align: justify;

        h1 {
          font-size: xxx-large;
          color: white;
        }

        p {
          font-size: larger;
          color: white;
        }

      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }


  }

  .prev-button,
  .next-button {
    position: absolute;
    bottom: 8%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    padding: 3px;
    backdrop-filter: blur(2px);
    font-size: 0px;

    &:active {
      box-shadow: 0 1px #666;
      transform: translateY(1px);
    }

    &:hover {
      filter: brightness(130%);
    }
  }


  .prev-button {
    right: 220px;
  }

  .next-button {
    right: 130px;
  }

}

.intro {
  height: 100vh;
  display: flex;

  /* 1st child */
  &>div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: bold;
    gap: .5rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      filter: brightness(110%);

      &>div {
        transform: scale(1.1);
      }
    }

  }

  .highlight {
    font-size: 4rem;
  }

  .projects {
    background-color: #437cc0;
    color: white;
  }

  .ops {
    background-color: #eeeef0;
  }

  .certs {
    background-color: #1c2d59;
    color: white;
  }
}

.portfolio {
  line-height: 1.5rem;
  height: 100%;
  padding: 9rem 0;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      padding: 2rem;
    }

    #border {
      position: relative;
      width: 150px;
      height: 5px;
      background-color: #2e308c;
      margin: 0 auto;
    }

    .title-desc {
      margin: 3rem 0;
      text-align: center;
      white-space: pre-line;
    }

    .preview {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 90%;
      gap: 2.5rem;

      &>div {
        position: relative;
        height: 230px;
        overflow: hidden;
        // transition: all 0.3s ease-in-out;

        &:hover {
          .portfolio-desc {
            opacity: 1;
          }

          img {
            filter: brightness(50%);
            transform: scale(1.2);
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all .3s ease-in-out;
        }

        .portfolio-desc {
          text-align: center;
          transition: all .3s ease-in-out;
          z-index: 10;
          color: white;
          font-weight: bold;
          font-size: 150%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 10px;
          padding: 5px 10px;
          backdrop-filter: blur(2px);
          text-align: center;
        }
      }
    }
  }
}

.services {
  height: 100%;
  padding: 9rem 0;
  background: #f7f8f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #2b2e35;

  .title {
    font-weight: bold;
    font-size: clamp(1rem, 2rem, 2rem);
    text-align: center;
  }

  #border {
    position: relative;
    width: 100px;
    height: 5px;
    background-color: #2e338a;
    margin: 1.5rem auto;
  }

  .title-desc {
    margin: 3rem 0;
  }

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;

    &>div {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: all 0.3s ease;

      * {
        flex: 1;
        transition: all 0.3s ease;
      }

      p {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
      }

      &:hover {
        filter: brightness(120%);

        // This does not seem to work because of the IntersectionObserver
        // Its counterpart is done programatically
        p {
          width: 0;
          flex: 0;
          opacity: 0;
        }

      }

    }

    img {
      height: 230px;
      width: 100%;
      object-fit: cover;
      transition: all .3s ease-in-out;
    }

  }


}

.note {
  display: flex;
  justify-content: center;

  #border {
    position: relative;
    width: 250px;
    height: 5px;
    background-color: #2e308c;
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    gap: 1.5rem;

    .title {
      font-weight: bold;
      font-size: 2rem;
      text-align: justify;
      color: #2e338a;
    }

    .desc {
      color: #2b2e35;
      font-size: 1rem;
      align-self: flex-end;
      line-height: 1.5rem;
    }
  }
}

footer {
  background: #2e2f8a;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;

    &>div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      padding: 3rem 1rem;

      .logo {
        display: flex;
        align-items: center;
        // // padding: 4rem;
        // font-size: 1.2rem;

        img {
          max-width: 150px;
        }

        .logo-text {
          margin-left: 1rem;

          .title {
            font-weight: bold;
          }

        }
      }

      .office-hrs {
        margin: auto 0;

        .title {
          font-weight: bold;
        }

        .val {
          font-size: .8rem;
        }
      }
    }

    &>div:nth-child(2) {
      display: flex;
      gap: 1rem;

      &>div {
        display: flex;
        justify-content: end;
        flex: 1;
        gap: 1rem;
        padding: 1rem;

        .details {
          margin: auto 0;

          .title {
            font-weight: bold;
          }

          .val {
            font-size: .8rem;
          }
        }
      }

    }

    &>div:nth-child(3) {
      text-align: center;
      padding: 2rem;
      font-size: .8rem;
      border-top: .1rem solid white;
    }
  }


}