body.services .service-container {
  padding: 10%;
}
body.services .services-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}
body.services .services-title h1 {
  color: white;
  background: #2e338a;
  padding: 1rem 5rem;
  margin: 1rem;
}
body.services .services-title #border {
  position: relative;
  width: 150px;
  height: 3px;
  background-color: #2e308c;
}
body.services > div:nth-child(even):not(:nth-child(2)) {
  background: #f7f8f9;
}
body.services .pre {
  text-align: center;
  white-space: pre-line;
}
body.services .banner {
  height: 50vh;
  background: #2b2e35;
  background-image: url("assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body.services .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(35%);
}
body.services .banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body.services .banner .content h1,
body.services .banner .content h2 {
  z-index: 1;
  color: white;
  font-size: 50px;
}
body.services .banner .content h2 {
  font-size: 25px;
}
body.services span.subtitle {
  font-weight: bold;
  color: #2e338a;
}
body.services .scope-services-description.service-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
body.services .scope-services-description.service-container > div {
  flex: 1;
  height: 100%;
  display: flex;
}
body.services .scope-services-description.service-container > div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body.services .scope-services-description.service-container .scope-services-description {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: start;
}
body.services .scope-services-description.service-container .scope-services-description .check-services {
  display: flex;
  gap: 10px;
  border-radius: 7px;
  justify-content: space-evenly;
  background: #2e338a;
  color: white;
  padding: 12px 16px;
}
body.services .scope-services-description.service-container .scope-services-description .check-services p {
  font-size: larger;
}
body.services .scope-services-description.service-container .scope-services-description .check-services i {
  animation: move_down 1s ease-in-out infinite;
}
body.services .scope-services-description.service-container .scope-services-description p {
  font-size: 24px;
}
body.services .general-project.service-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f7f8f9;
}
body.services .general-project.service-container .general-project-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  font-size: large;
}
body.services .general-project.service-container .general-project-items i {
  margin-right: 8px;
  margin-top: 15px;
}
body.services .construction-phase-services.service-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body.services .construction-phase-services.service-container .items {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  font-size: large;
}
body.services .construction-phase-services.service-container .items i {
  margin-right: 8px;
  margin-top: 15px;
}
body.services .mechanical {
  padding: 10% 0;
}
body.services .mechanical .mechanical-intro-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body.services .mechanical .mechanical-intro-container .content-container {
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body.services .mechanical .mechanical-intro-container .content-container .img-container {
  overflow: hidden;
  height: inherit;
  width: 100%;
}
body.services .mechanical .mechanical-intro-container .content-container .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.services .mechanical .mechanical-intro-container .content-container .content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.services .mechanical .mechanical-intro-container .content-container .content-1 p {
  text-align: justify;
  font-size: large;
  line-height: 24px;
  margin: 12%;
}
body.services .mechanical .mechanical-intro-container .content-container .content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body.services .mechanical .mechanical-intro-container .content-container .content-2 h1 {
  color: #2e338a;
}
body.services .mechanical .mechanical-intro-container .content-container .content-2 li {
  margin: 13px;
}
body.services .mechanical .mechanical-intro-container .content-container .content-2 i {
  margin-right: 10px;
}
body.services .electrical .electrical-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.services .electrical .electrical-intro-container .description {
  color: #2e338a;
  margin-bottom: 5rem;
}
body.services .electrical .electrical-intro-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
body.services .electrical .electrical-intro-container ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background: #2e338a;
  padding: 20px;
  color: white;
  border-radius: 5px;
  border: 2px solid #2e338a;
  transition: all 0.3s ease-in-out;
}
body.services .electrical .electrical-intro-container ul li:hover {
  background: white;
  color: #2e338a;
  border: 2px solid #2e338a;
}
body.services .electrical .electrical-intro-container ul li:hover i {
  color: #2e338a;
}
body.services .electrical .electrical-intro-container ul li i {
  margin-right: 10px;
}
body.services .plumbing .plumbing-intro-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 5rem;
}
body.services .plumbing .plumbing-intro-container .description {
  color: #2e338a;
}
body.services .plumbing .plumbing-intro-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
body.services .plumbing .plumbing-intro-container ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background: #2e338a;
  padding: 20px;
  color: white;
  border-radius: 5px;
  border: 2px solid #2e338a;
  transition: all 0.3s ease-in-out;
}
body.services .plumbing .plumbing-intro-container ul li:hover {
  background: white;
  color: #2e338a;
  border: 2px solid #2e338a;
}
body.services .plumbing .plumbing-intro-container ul li:hover i {
  color: #2e338a;
}
body.services .plumbing .plumbing-intro-container ul li i {
  margin-right: 10px;
}

@keyframes move_down {
  0% {
    transform: translate(0, -10px);
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 15px);
    opacity: 0.3;
  }
}/*# sourceMappingURL=services.css.map */